.container{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
  padding: 1rem;
  transition: 250ms all ease-in-out;
}

.container:hover{
  transform: scale(1.035);
}

.container .wrapper{
  text-decoration: none;
  color: inherit;
}

.productImg{
  height: 200px;
  min-width: 100%;
  object-fit: cover;
  width: auto;
}

.productInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productTitle{
  text-transform: capitalize;
  margin-top: 10px;

}

.productPrice{
  color: rgb(48, 48, 227);
  
}